/* .flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .flex-container > div {
    
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }

  .flex-container > button {
    
    margin: 10px;
    text-align: center;
    
  } */