body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-container > div {
  /* width: 300px; */
  margin: 10px;
  text-align: center;
  /* line-height: 75px; */
  font-size: 30px;
}

.flex-container > button {
  /* width: 300px; */
  margin: 10px;
  text-align: center;
}

.navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;

  list-style: none;
  margin: 0;
  /* background: deepskyblue; */
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  /* color: white; */
}

.navigation a:hover {
  /* background: #1565C0; */
}

@media all and (max-width: 600px) {
  .navigation {
    flex-flow: column wrap;
    padding: 0;
  }
  .navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .navigation li:last-of-type a {
    border-bottom: none;
  }
}

.userAvatar {
  margin: 10px;
  width: 50px !important;
  height: 50px !important;
}

.buttonSelected {
  background-color: rgba(255, 255, 255, 0.08) !important;
}

.teamSelection {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.teamButton {
  margin-top: 15px !important;
}

.userSelection {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;

  list-style: none;
  margin: 0;
  /* background: deepskyblue; */
}
